body {
    background-color: rgb(19, 19, 19);
    margin: 0px;
    font-family: "DM Serif Text", serif;
}

.historyContainer {
    display: none;
    position: absolute;
    margin: 10px;
    color: white;
    padding: 2px 6px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 14px;
}
.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.top, .middle, .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
    font-family: "DM Serif Text", serif;
    border: 1px solid #ffffff;
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
   
.mainButton:hover {
    color: black;
}

.mainButton:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.mainButton:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.blackBorder {
    border: 1px solid #000000;
}

.circle {
    color: white;
    font-size: 18px;
    width: 200px;
    height: 200px;
    border: 16px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
}

.counter {
    margin: 0;
    font-size: 26px;
}

.calorieView {
    display: none;
    height: 350px;
    width: 300px;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.calorieForm {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calorieViewInfo {
    margin: 10px;
}

.close {
    position: absolute;
    margin: 10px;
}

.red {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 35px rgb(231, 0, 0);
    animation: pulse 1s infinite alternate, pop 0.5s ease-in-out;
}

.yellow {
    border-color: yellow;
    box-shadow: 0 0 35px rgba(255, 255, 0, 1);
    animation: pulse 1s infinite alternate, pop 0.5s ease-in-out;
}

.green {
    border-color: green;
    box-shadow: 0 0 35px rgba(0, 255, 0, 1);
    animation: pulse 1s infinite alternate, pop 0.5s ease-in-out;
}

.blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.form-control {
    position: relative;
    margin: 0px 0 25px;
    width: 190px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #000000 solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #080808;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(7, 7, 7);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #000000;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: rgb(0, 0, 0);
    transform: translateY(-30px);
}

.closeButton {
    margin-left: 270px;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.X {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 1em;
    height: 1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.Y {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 1em;
    height: 1px;
    background-color: #000000;
    transform: rotate(-45deg);
}

.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40%;
    left: 70%;
    width: 3em;
    height: 1.7em;
    font-size: 16px;
    background-color: rgb(254, 255, 225);
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
    opacity: 0;
}

.closeButton:hover {
    background-color: rgb(210, 0, 0);
}

.closeButton:active {
    background-color: rgb(130, 0, 0);
}

.closeButton:hover > .close {
    animation: close 0.2s forwards 1.25s;
}

.switch {
  --size: 64px;
}

.switch input[type="checkbox"] {
  -webkit-appearance: none;
  width: var(--size);
  height: calc(var(--size) / 2);
  border: 3px solid #222;
  border-radius: calc(var(--size) * 0.3) var(--size) var(--size) var(--size);
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  left: -1.5px;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border: 3px solid #222;
  border-radius: calc(var(--size) * 0.3) var(--size) var(--size) var(--size);
  background-color: white;
  box-sizing: border-box;
  transition: all 0.5s;
}

.switch input[type="checkbox"]:checked {
  background-color: white;
  border-radius: var(--size) var(--size) calc(var(--size) * 0.3) var(--size);
}

.switch input[type="checkbox"]:checked::before {
  left: calc(50% - 1.5px);
  background-color: #131313;
  border-radius: var(--size) var(--size) calc(var(--size) * 0.3) var(--size);
  border: 3px solid #222;
}

.taskParent {
    gap: 5px;
}

.task {
    border: 1px solid #ffffff;
    width: 25vh;
    height: 25px;
}

@keyframes close {
    100% {
    opacity: 1;
    }
}