body {
    background-color: rgb(97, 97, 97);
    margin: 0px;
}

input {
    border-radius: 6px;
    height: 20px;
}

.main {
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border: 6px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
}

.counter {
    margin: 0;
}

.mainButton {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 200px;
    height: 50px;
}

.marginTop {
    margin-top: 200px;
}

.marginBottom {
    margin-bottom: 200px;
}

.mainButton:hover {
    background-color: rgb(41, 41, 41);
    color: white;
}

.calorieView {
    display: none;
    height: 250px;
    width: 300px;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calorieForm {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calorieViewInfo {
    margin: 10px;
}

.close {
    position: absolute;
    margin: 10px;
}

.red {
    border-color: rgb(255, 0, 0);
}

.yellow {
    border-color: yellow;
}

.green {
    border-color: green;
}