body {
    background-color: rgb(97, 97, 97);
    margin: 0px;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainButton {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
}

.mainButton:hover {
    background-color: green;
}

.calorieView {
    display: none;
    height: 25%;
    width: 80%;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calorieViewInfo {
    margin: 10px;
}

.close {
    float: right;
    margin: 10px;
}